body {
    margin: 0;
    padding: 0;
    background: #00158f; 
    font-family: "Righteous", sans-serif;
}

.container {
    width: 85%;
    max-width: 900px;
    margin: auto;
    padding-top: 30px;
}

.judul {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
    text-decoration: underline;
    font-family: "Archivo Black", sans-serif;
    color: white;
}

.card {
    background: #5234ff;
    padding: 40px;
    border-radius: 10px;
    display: flex;
    gap: 25px;
    color: white;
}

.left img {
    width: 180px;
    height: 220px;
    border-radius: 50px;
    object-fit: cover;
    border: 3px solid white;
}

.right table {
    width: 100%;
    font-size: 18px;
}

.right td {
    padding: 5px 0;
}

.riwayat-judul {
    margin-top: 25px;
    font-size: 22px;
    font-weight: bold;
    text-decoration: underline;
    font-family: "Archivo Black", sans-serif;
    color: white;
}

.riwayat {
    background: #0059ff;
    list-style: none;
    padding: 15px 20px;
    border-radius: 10px;
    color: white;
    font-size: 18px;
}

.riwayat li {
    padding: 5px 0;
}

/* ============================
   RESPONSIVE UNTUK HP
=============================== */
@media (max-width: 768px) {

    .card {
        flex-direction: column;
        padding: 20px;
        text-align: center;
    }

    .right table {
        width: 100%;
        font-size: 16px;
        text-align: left;
    }

    .left img {
        width: 150px;
        height: 190px;
        margin: auto;
    }

    .container {
        width: 95%;
        padding-top: 20px;
    }

    .judul {
        font-size: 35px;
    }

    .riwayat {
        font-size: 16px;
    }
}
