body {
    background: #001f77;
    font-family: Arial;
    margin: 0;
    padding: 20px;
    color: white;
}

.judul {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 20px;
}

.container {
    max-width: 900px;
    margin: auto;
}

.card {
    background: #5327d9;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap; /* BIAR RESPONSIVE */
}

.foto {
    width: 150px;
    height: 200px;
    border-radius: 15px;
    object-fit: cover;
    background: #fff;
}

.info-kiri, .info-kanan {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 17px;
}

.info-kiri {
    font-weight: bold;
}

/* BOX RIWAYAT PENDIDIKAN */
.pendidikan {
    background: #0077ff;
    padding: 20px;
    border-radius: 15px;
    margin-top: 25px;
}

.pendidikan h2 {
    margin-bottom: 10px;
    font-size: 22px;
}

/* RESPONSIVE HP */
@media (max-width: 600px) {
    .card {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .info-kiri, .info-kanan {
        text-ali
