body {
    margin: 0;
    padding: 0;
    background: #00158f; 
    font-family: "Righteous", sans-serif;
}

.container {
    width: 85%;
    max-width: 900px;
    margin: auto;
    padding-top: 30px;
}

.judul {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
    text-decoration: underline;
    font-family: "Archivo black", sans-serif;
}

.card {
    background: #5234ff;
    padding: 100px;
    border-radius: 10px;
    display: flex;
    gap: 25px;
    color: white;
}

.left img {
    width: 180px;
    height: 220px;
    border-radius: 50px;
    object-fit: cover;
    border: 3px solid rgb(255, 255, 255);
}


.right table {
    width: 150%;
    font-size: 18px;
}

.right td {
    padding: 5px 0;
}

.riwayat-judul {
    margin-top: 25px;
    font-size: 22px;
    font-weight: bold;
    text-decoration: underline;
    font-family: "Archivo black", sans-serif;
}

.riwayat {
    background: #0059ff;
    list-style: none;
    padding: 15px 20px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    font-size: 18px;
}

.riwayat li {
    padding: 5px 0;
}
